.author-page-books-container {
  background-color: white;
  margin-top: 20px;
  cursor: default;
  border-radius: .5rem;
}

.author-books-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.add-book-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-bottom: 30px;
  color: #2a3642;
}

.author-book-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
}

.author-book-buttons button {
  width: 50px;
  padding: 5px;
  background-color: #3c84c3;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.author-chapters-container {
  background-color: white;
  margin-top: 20px;
  cursor: default;
  border-radius: .5rem;
}

.author-page-delete-buttons button {
  background-color: red;
}

.author-page-delete-buttons button:hover {
  background-color: rgb(200, 56, 56) !important;
}

.author-page-edit-buttons:hover {
  background-color: #1b77c7 !important;
}

.add-circle-button:hover {
  color: #3c84c3 !important;
}

.loading-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
}

.spinner {
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
