.review-modal-container{
    width: 40vw;
    height: 80%;
    padding: 20px;
    cursor: default;
}

.review-modal{
    background-color: #eff3f8;
    padding: 20px;
}

.review-text-area{
    width: 97.5%;
    height: 20vh;
    resize: none;
    border: 1px solid rgb(199, 199, 199);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 11px;
}

.review-text-area:focus{
    outline: none;
}

.review-text-area textarea{
    padding: 5px;
}

.star-rating{
    display: flex;
    justify-content: center;
}

.leave-review-button{
    width: 150px;
    height: 35px;
    background-color: #3c84c3;
    border: 1px solid #e5e5e5;
    color: white;
    cursor: pointer;
}

.leave-review-button:hover{
    background-color:  #456e96
}

.leave-review-button:disabled{
     background-color:  #a0bcd4;
     cursor:not-allowed
}
