.signup-container{
  width: 90%;
  height: 100%;
  padding: 30px;
}

.signup-header-title{
  background-color: #2a3642;
  color: white;
  padding: 10px;
  text-align: center;
}

.signup-form-container{
  background-color: #eff3f8;
  padding: 20px;
}



.profile-pic-selection {
    margin: 20px 0;
  padding-bottom: 10px;
  }

  .profile-pic-options {
    display: grid;
    grid-template-columns: repeat(5, 110px);
    grid-gap: 10px;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    border-radius: 8px;
    object-fit: cover;
    box-sizing: border-box;
  }

  .profile-pic:hover {
    transform: scale(1.1);
  }

  .profile-pic.selected {
    border: 1px solid #2cfe4f;
    transform: scale(1.2);
  }

  .signup-button:hover{
    background-color: #6a89ae !important;
  }

  .signup-button:disabled{
    cursor: not-allowed !important;
    background-color: #81a1bd !important;
  }
