/* Navigation.css */

.nav-header-container {
  background-color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header {
  margin-left: 0;
  margin-right: 0;
}

.nav-home-link {
  text-align: center;
  width: 47%;
  height: 5vh;
}

.nav-home-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-bar {
  height: 5vh;
  background-color: #E0E2DB;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-bar-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 65px;
}

.nav-bar-buttons div:hover{
  background-color: #bebfba;
  cursor: pointer;
}

.search-bar:hover{
  background-color:#E0E2DB!important;
  cursor: default !important;
}

.profile-button-container {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.author-navlink-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.author-navlink {
  height: 20px;
  width: 20px;

}

.profile-button {
  background-color: #E0E2DB;
  border: none;

}


.profile-dropdown {
  position: absolute;
  top: 101%;
  left: 82%;
  transform: translateX(-50%);
  background-color: #E0E2DB;
  color:black;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
  z-index: 1;
  /* font-weight: 600; */
}

.profile-dropdown li {
  padding: 10px;

  text-align: center;
  cursor: pointer;
}

.profile-dropdown li:last-child {
  border-bottom: none;
}

.profile-dropdown li:hover {
  background-color: #bebfba;
}

.profile-dropdown button {
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background-color: #bebfba;
}
